#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.question {
  text-align: center;
  font-size: 3.2em;
  line-height: 0.4;
  font-weight: 600;
  letter-spacing: 1px;
}

.l1 {
  margin-left: 150px;
}

.l2 {
  text-align: center;
}

.l3 {
  margin-right: 150px;
}

a {
  will-change: filter;
  transition: filter 200ms;
}
a:hover {
  filter: drop-shadow(10px 3px 1px #61dafbaa);
}

@keyframes rotate-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate1 {
    animation: rotate-spin1 infinite 20s linear;
  }
}

@keyframes rotate-spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate2 {
    animation: rotate-spin2 infinite 20s linear;
  }
}
