#root {
  margin: 0 auto;
  padding: 2rem 0;
}

.question {
  position: relative;
  z-index: 2;
  text-align: center;
  font-size: 4em;
  line-height: 0.4;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.l1 {
  margin-left: 150px;
}

.l2 {
  text-align: center;
}

.l3 {
  margin-right: 150px;
}

.shadow-link {
  will-change: filter;
  transition: filter 200ms;
}
.shadow-link:hover {
  filter: drop-shadow(10px 3px 1px #0583f2);
}

img.logo-hover {
  cursor: pointer;
}

img.logo-hover:hover {
  transform: scale(1.5);
}

@keyframes rotate-spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate1 {
    animation: rotate-spin1 infinite 15s linear;
  }
}

@keyframes rotate-spin2 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .rotate2 {
    animation: rotate-spin2 infinite 8s linear;
  }
}

.popup {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background: rgba(242, 163, 94, 0.4);
}

.popup-content {
  width: 80vw;
  height: auto;
}

.popup-content img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 992px) {
  .popup-content {
    height: 80vh;
    width: auto;
  }

  .popup-content img {
    height: 100%;
    width: auto;
  }
}

/* Footer styles */
.footer {
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 1em;
  line-height: 1.2;
}

.footer a:hover {
  text-decoration: underline;
}
