#root {
  margin: 0 auto;
  padding: 2rem 0;
}

/* Global utility classes */
.attention-cue {
  will-change: transform;
}

.shadow-link {
  will-change: filter;
  transition: filter var(--duration-shadow-hover);
}
.shadow-link:hover {
  filter: drop-shadow(10px 3px 1px var(--color-accent));
}

/* Prevent scrollbar flicker from absolute moving elements and hover scaling */
html,
body {
  overflow: hidden;
}
